.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  background-color: bisque;
}

.dialog {
}

.dialogsItems .active {
  color: blueviolet;
}

.dialogsItems {
  padding: 10px;
}

.messages {
  padding: 10px;
}

.message {
}

.img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}
